# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.spec
build/
dist/
*.exe
*.dll
*.manifest
*.log

# Virtual environment
venv/
.env/
env/
ENV/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Logs
*.log

# Tkinter cache (if any)
*.pyc

.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
